<h1>What's your problem?</h1>
<form method="get" action="/">
  <label for="problem">I have beef with...</label>
  <input name="problem" required type="text" placeholder="The sun">
  <button type="submit">Complain</button>
</form>
