<button class="complaint" onclick="alert('Never gonna give you up, never gonna let you down...')">
  I have a problem with <%= @problem %>
</button>

<footer>
  <a href="/">I'd like to register a complaint</a>
</footer>
